{% extends 'accounts/base.html' %}

{% block title %}Профиль{% endblock %}
{% block header %}Ваш профиль{% endblock %}

{% block content %}
<style>
    input[type="text"] {
        width: 100%;
        border: 1px;
        background-color: #eeeeee;
        border-color: #eeeeee;
        border-radius: 10px;
        text-align: center;
        height: 40px;
        font-size: 16px;
    }

    input[type="email"] {
        width: 100%;
        border: 1px;
        background-color: #eeeeee;
        border-color: #eeeeee;
        border-radius: 10px;
        text-align: center;
        height: 40px;
        font-size: 16px;
    }
</style>

<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {% if active_tariff %}
        <div>
            <a href="{% url 'payments:tariff_list' %}" class="btn btn-primary">
                Оформить подписку
            </a>
        </div>
        {% endif %}
        <button type="submit">Обновить профиль</button>
    </form>
</div>

{% endblock %}