:root {
    --primary-color: #013c70;
    --secondary-color: #e2e2e2;
    --text-color: #4e4d4d;
    --max-width: 800px;
    --bs-primary: #013c70; /* ваш кастомный цвет (пример - фиолетовый) */
    --bs-primary-rgb: 111, 66, 193;
    --bs-primary-bg-subtle: #e9eef3;
    --bs-primary-border-subtle: #e9eef3;
    --bs-border-primary: #013c70;
    --bs-primary-hover: #e9eef3;
    --bs-btn-primary: #013c70;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: var(--text-color);
    line-height: 1.6;
}


.container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 5px 5px;
    /* padding-right: 20px; */
    background-color: white;
    box-shadow: none;
    border-radius: 10px;
    margin-top: 0%;
}

/* Стили для страницы ошибки */
.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

.btn-retry {
    margin-top: 20px;
}

/* Стили для карточек тарифов */
.pricing-card-title {
    font-size: 2.5rem;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

select {
    width: 100%;
    max-width: var(--max-width);
    margin-left: 1px auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #4e4d4d;
    color-scheme: gray;
    background-color: white;
    box-shadow: #4e4d4d;
    border-radius: 10px;
    border: none;
    margin-top: 2px;
}

.auth-links {
    text-align: right;
    margin-bottom: 20px;
}

.auth-links a {
    color: var(--primary-color);
    text-decoration: none;
    margin-left: 15px;
    padding: 5px 10px;
    border-radius: 4px;
}

.auth-links a:hover {
    background-color: rgba(30, 136, 229, 0.1);
}

h1 {
    color: var(--primary-color);
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 10px;
    margin-top: 0;
}


input[type="text"] {
    width: 100%;
    border: none;
    border-radius: 10px;
    text-align: center; 
    height: 40px; 
    font-size: 16px;
}

input[type="password"],
input[type="email"],

input[type="date"] {
    width: 100%;
    border: none;
    border-radius: 10px;
    text-align: center; 
    height: 40px; 
    font-size: 16px;
}


input:invalid {
    background-color: #eeeeee;
}

table {
    width: 100%;
    border: 2px solid #eeeeee;
    border-radius: 10px;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    table-layout: fixed;
}

.table_moon_palace {
    width: 60%;
    border-collapse: collapse;
}  

.scrollable-table {
    width: 100%;
    max-height: 350px;  /* Фиксированная высота */
    overflow-y: auto;   /* Вертикальная прокрутка */
    /* display: block; */
    border: 0px;
    border-radius: 10px;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    /* overflow: hidden; */
    table-layout: fixed;
}

.scrollable-table thead tr {
    position: sticky;    /* Фиксируем заголовки */
    top: 0;              /* Прилипаем к верху контейнера */
    background: #f8f9fa; /* Цвет фона */
    z-index: 100;         /* Заголовки поверх содержимого */
    box-shadow: 0 2px 2px -1px rgba(0,0,0,0.1);
}

td, th {
    border: 1px solid #ddd; /* Внутренние границы */
    padding: 8px 12px; /* Отступы внутри ячеек */
    text-align: center; /* Выравнивание текста по центру */
}

button, input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}        
    
button:hover {
    background-color: #eeeeee;
    color: var(--primary-color);
}    

.messages {
    list-style: none;
    padding: 0;
}

.messages li {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.rainbow-text {
    background: linear-gradient(
        90deg,
        #7c0101 0%,    /* Красный */
        #8f4802 16%,   /* Оранжевый */
        #838301 32%,   /* Жёлтый */
        #027c02 48%,   /* Зелёный */
        #02026d 64%,   /* Синий */
        #4a027e 80%,   /* Индиго */
        #5c0381 100%   /* Фиолетовый */
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    white-space: nowrap; /* Запрет переноса строки */
    font-style: italic;
}

.success {
    background-color: #e8f5e9;
    color: #2e7d32;
}

.error {
    background-color: #ffebee;
    color: #c62828;
}

label {
    color: rgb(217, 90, 0);
    font-size: 14px;
}


.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}


.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.invalid-feedback {
    color: #dc3545;
    font-size: 0.875em;
}
.is-invalid {
    border-color: #dc3545 !important;
}


.premium-content {
    position: relative;
}
.blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,0.7);
    backdrop-filter: blur(5px);
}
.full-access .blur-overlay {
    display: none;
}