<!-- subscription/templates/subscription/success.html -->
{% extends "accounts/base.html" %}
{% load static %}

{% block title %}Запрос отправлен{% endblock %}

{% block header %}
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" type="text/css">
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="my-0">Запрос на подписку отправлен!</h2>

    
    <div class="alert alert-info">
        <h3>Что происходит дальше?</h3>
        <ul class="mb-0">
            <li>Ваш запрос отправлен администратору</li>
            <li>Мы проверим ваши данные и активируем подписку</li>
            <li>Вы получите уведомление по email когда подписка будет активирована</li>
            <li>Обычно это занимает до 24 часов</li>
        </ul>
    </div>
    
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="{% url 'home' %}">
            <button>Вернуться на главную</button>
        </a>
    </div>
</div>


{% endblock %}